header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.navigation span {
  display: inline-block;
  padding: 20px 10px;
  color: black;
  justify-content: flex-end;


}

.logo span {
  color: mediumaquamarine;
  display: inline-block;


}
