header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 80px;
  position: fixed;


}

a {
  color: black;
}

nav {
  display: flex;
  width: 20%;
  align-items: center;
  padding-right: 40px;
}

nav span {
  padding: 20px 10px;

 }

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  border: 1px solid black;
  width: 10000px;
}

.logo span {
  color: mediumaquamarine;
  padding-left: 10px;
}

main {
  display: inline-flex;
  border: 1px solid black;


}

.column1 {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.column2 {
  display: flex;
  flex-direction: column;
  width: 300px;

}

.column3 {
  display: flex;
  flex-direction: column;
  width: 240px;
}
